<div id='view_content'>
<% @reviews.each do |review| %>
    <div class="review">
      <h1 class="r_title"><%= link_to review.title, review_path(review.id) %></h1>
      <hr />
      <p class="r_timestamp">Last Updated:<%= review.updated_at.to_date.to_formatted_s(:rfc822) %></p>
      <p class="r_author">Author: <%= review.user.username %></p>
      <p class="r_rating">Rating: <%=review.rating%> out of 5</p>
        <% if user_signed_in? %>
          <% if current_user.username == review.user.username %>
            <div class="review_tools">
              <div class="btn-group">
                <button class="btn btn-info"><%= link_to raw("<i class=\"icon-edit icon-white\"></i>")+" Edit", edit_review_path(review),:class => "btn-content"%></button>
                <button class="btn btn-danger"><%= link_to raw("<i class=\"icon-remove icon-white\"></i>")+" Delete",review,:class => "btn-content",:method=>:delete%></button>
              </div>
            </div>
          <%end%>
        <%end%>
    </div>
  <br />
<%end%>
<br />
<hr />
</div>

<% if current_user.username == @user.username %>
  <% content_for :title do %>
    <small>Your Reviews</small>
  <%end%>
<%else%>
  <% content_for :title do %>
    <small>Reviews by <%=@user.username%></small>
  <%end%>
<%end%>


