<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <% if browser.firefox? %>
    <p><i>NB: You are using firefox, please go to another browser to select a rating </i></p>
  <%else%>
    <div class='field'>
      <%= f.label :rating %><br />
      <%= f.range_field :rating, :in => 0..5,:value => 3, :step => '1', :id => 'range_field', :onchange => 'change()', :onload => 'change()'%>
      <br>
      <h4 id="range_number">3 out of 5</h4>
      <script>
      function change(){
          var div = document.getElementById("range_number");
          var range = document.getElementById("range_field");

          div.innerHTML = range.value + " out of 5";
        }

      </script>
    </div>
  <%end%>
  <br />
  <hr />
  <div class="actions">
     <button class="btn btn-success" type="submit">Create Review</button>
  </div>
<% end %>
