<!DOCTYPE html>
<html>
<head>
  <title>Ass3</title>
  <%= stylesheet_link_tag    "ass3", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="notice_box">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%=alert%></p>
	</div>
	<div id="main">
		<div id="login_details">
			<div id="login_content">
				<% if user_signed_in? %>
		    		<p>Account: <%= link_to current_user.username, user_account_path(current_user.username)  %></p>
		    		<hr class="line_underAct" \>
		   			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		   			<br \>
		   			<br \>
		   			<%= link_to "Create a review", new_review_path %>
		   			<br \>
		   			<br \>
		   			<%= link_to "Edit Account", edit_user_registration_path %>
		   			<br \>
		   		<%else%>
		   		<p>Not Currently Signed In</p>
		   		<hr />
		   		<%= link_to "Sign In", new_user_session_path %>
		   		<br />
		   		<br />
		   		<%= link_to "Sign Up", new_user_registration_path %>
		   		<%end%>
		   	</div>
	   	</div>
	   	<div id='yield_content'>
			<%= yield %>
		</div>
	</div>
</body>
</html>
